/* колір основного тексту:#212121 */
/* колір великих букв: #FFFFFF */
/* колір текту:#757575 */
/* колір лого:#2196F3 */

/* колір фону (другий): #2F303A */

/* колір кнопки:#2196F3 */
/* контакти в футері:color: rgba(255, 255, 255, 0.6); */

:root{ 
    --title-text-color:#212121;
    --button-text-color:#212121;
    --primary-backgraund-color:#FFFFFF;
    --primary-text-color:#757575;
    --first-logo-color:#2196F3;
    --button-active-color:#2196F3;
    --button-color:#F5F4FA;
    --about-backgraund-color:#F5F4FA;
    --hero-backgraund-color:#2F303A;
    --second-logo-color:#000000;
    --hero-color:#FFFFFF;
    
}

body{
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    background-color: var(--primary-backgraund-color);
}


.header{background-color: #325632;}
.about{background-color: #2196F3;}
.about{background-color: yellow;}
.team{background-color: red;}
.features{background-color: orange;}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    margin-top: 0px;
}

.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.link{
    text-decoration: none;
}


.navy{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.conteiner{
    margin-left: auto;
    margin-right: auto;
    width: 1215px;
   background-color: #325632;
}


.section{
    padding-top: 94px;
    padding-bottom: 94px;
}



/* ----------------LOGO----------------- */


.logo{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header-logo, .header-second-logo{
    margin-top: 24px;
    margin-bottom: 25px;
}

.header-logo{margin-left: 215px;}
.header-logo, .footer-logo{
    color: var(--first-logo-color);
}

.header-second-logo{
    color: var(--second-logo-color);
}

/* ----------------HEADER----------------- */

.header {
    background-color: var(--primary-backgraund-color);
}

.header-list, .header-contacts-list{
    display: flex;
}

.header-link {
    color: var(--title-text-color);
}

.header-link:hover,
.header-link:focus{color: var(--button-active-color);
}

.current{
    color: var(--button-active-color);
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-tel:hover,
.header-tel:focus{
    color: var(--button-active-color);
}
.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-mail:hover,
.header-mail:focus{
    color: var(--button-active-color);
}

/* ----------------HERO----------------- */

.hero {
    background-color: var(--hero-backgraund-color);
    width: 1600px;
    text-align: center;
    margin-top: 0px;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-color); 
    margin-top: 0px;
    margin-bottom: 30px;
}
.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--button-active-color);
    color: var(--hero-color);
    cursor: pointer;
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 35px;
    min-width: 216px;
    border-style:none;

}

/* ----------------FEATURES----------------- */

.features {
    background-color: 
    olivedrab
}

.item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 10px;
}
.item-after-title {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 0px;
}

/* ----------------ABOUT----------------- */
.about-title{
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 0px;
}

.about-item-pictures{margin-top: 0px;
margin-bottom: 188px;}


/* ----------------TEAM----------------- */

.team {
    background-color:purple;
    margin-top: 0px;
}

.team-title{
    padding-top: 94px;
    padding-bottom: 0px;
    margin-top: 0px;}

.team-item{
    background-color: var(--primary-backgraund-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 10px;
}
.team-after-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 0px;
    margin-bottom: 30px;
}

/* ----------------FOOTER----------------- */

.footer {
    background-color: var(--hero-backgraund-color);
}
.logo-color-footer {
    color: var(--hero-color);
}

.address{
    font-style: unset;
}

.address-location {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--hero-color);
}

.address-location:hover,
.address-location:focus,
.address-mail:hover,
.address-mail:focus,
.address-tel:hover, 
.address-tel:focus{color: var(--button-active-color);}

.address-mail, .address-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


/* ----------------PAGE PORTFOLIO----------------- */

/* ----------------HEADER PORTFOLIO----------------- */


.filter-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--button-text-color);
    background-color: var(--button-color);
    display: inline-block;
    margin: 6px 22px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus{color:var(--hero-color);
background-color: var(--button-active-color);
}

.portfolio-item{
    background-color:var(--primary-backgraund-color);
    border: 1px solid #EEEEEE;
}

.portfolio-item-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-after-title{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.portfolio-item{color:var(--primary-backgraund-color);}